body {
    margin: 0;
    background-color: rgb(204, 213, 221);
    
    a {
        text-decoration: none;
    }
    a:link {
        color:blueviolet;
    }
    a:visited {
        color: rgb(40, 70, 38);
    }
    a:hover {
        color: blue;
    }
}

nav {
    background-color: rgb(106, 130, 224);
    border: 3px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
}

footer {
    background-color: rgb(106, 130, 224);
    display: flex;
    justify-content: center; 
    a {
        color: rgb(28, 4, 100);
    }
}

.splash {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        font-family: "Suravaram", serif;
        font-size: xx-large;
        padding-bottom: 0px;
        margin-bottom: 10px;
        color: #162241
    }
    img {
        border: 3px solid black;
        border-radius: 5px;
        box-shadow: 6px 6px rgb(34, 40, 54);
    }
    background-color: rgb(171, 174, 182);
}

.address {
    font-family: "Sahitya", serif;
    font-weight: bold;
}

.statement {
    font-family: "Sahitya", serif;
    text-align: center;
}

hr {
    border: 3px solid black;
    border-radius: 3px;
    width: 550px
}

.education {
    padding-right: 850px;
    background-color: rgb(171, 174, 182);
    border: 3px solid black;
    h2 {
        font-family: "Suravaram", serif;
        font-size: xx-large;
        padding-bottom: 0px;
        margin-bottom: 0px;
        color: #162241
    }

    p {
        font-size: 14pt;
        font-weight: 100;
        font-family: "Sahitya", serif;
    }
}
  
.honors {
    background-color: rgb(171, 174, 182);
    border: 3px solid black;
    
    h2 {
        font-family: "Suravaram", serif;
        font-size: xx-large;
        padding-bottom: 0px;
        margin-bottom: 0px;
        color: #162241
    }

    dl {
        font-size: 14pt;
        font-weight: bold;
        font-family: "Sahitya", serif;
        display: grid;
        grid-template-columns: 1fr 1fr 750px;
        .columnhead {
            grid-column-start: 1;
        }
    }

    dd {
        font-size: 14pt;
        font-weight: 100;
        font-family: "Sahitya", serif;
    }
}

.skills {
    background-color: rgb(171, 174, 182);
    border: 3px solid black;
    font-size: 14pt;
    font-weight: 100;
    font-family: "Sahitya", serif;
    h2 {
        font-family: "Suravaram", serif;
        font-size: xx-large;
        padding-bottom: 0px;
        margin-bottom: 0px;
        color: #162241
    }
}

.leadership {
    background-color: rgb(171, 174, 182);
    border: 3px solid black;
    
    h2 {
        font-family: "Suravaram", serif;
        font-size: xx-large;
        padding-bottom: 0px;
        margin-bottom: 0px;
        color: #162241
    }

    dl {
        font-size: 14pt;
        font-weight: bold;
        font-family: "Sahitya", serif;
        display: grid;
        grid-template-columns: 1fr 900px;
        .columnhead {
            grid-column-start: 1;
        }
    }
}

.projects {
    background-color: rgb(171, 174, 182);
    border: 3px solid black;
}

.three-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    column-gap: 55px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right:20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid rgb(34, 40, 54);
    border-radius: 4px;
    img {
        margin: 7px;
        width: 400px;
        height: 250px;
        border: 3px solid black;
        border-radius: 4px;
    }
    background-color: rgb(106, 130, 224);
    box-shadow: 8px 8px grey;
}

.one-col {
    font-weight: bold;
    font-family: "Sahitya", serif;
    background-color: rgb(171, 174, 182);
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
        width: 200px;
        background-color: rgb(221, 227, 233);
    }

    textarea {
        background-color: rgb(221, 227, 233);
        border: 3px solid black;
    }
    .submit {
        background-color: rgb(186, 193, 224);;
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: "Suravaram", serif;
        font-size: 15pt;
        border: 2px solid black;
    }
}
